NODE_ENV=development
PORT=3000
API_PREFIX=api

MONGODB_URI=mongodb://localhost:27017/crystal_diy
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

JWT_ACCESS_SECRET=please-change-access-secret
JWT_ACCESS_EXPIRES_IN=2h
JWT_REFRESH_SECRET=please-change-refresh-secret
JWT_REFRESH_EXPIRES_IN=30d

ADMIN_DEFAULT_USERNAME=admin
ADMIN_DEFAULT_PASSWORD=Admin@123456

UPLOAD_LOCAL_DIR=uploads
PUBLIC_BASE_URL=http://localhost:3000

WECHAT_APP_ID=
WECHAT_APP_SECRET=
WECHAT_PAY_MCH_ID=
WECHAT_PAY_SERIAL_NO=
WECHAT_PAY_PRIVATE_KEY_PATH=
WECHAT_PAY_API_V3_KEY=
WECHAT_PAY_MOCK=true
WECHAT_PAY_PLATFORM_PUBLIC_KEY_PATH=
